<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="apple-touch-icon" href="/images/thermostat-icon.png">
    <meta name="viewport" content="width=395">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>

    <script src="/javascripts/jquery-3.2.1.js"></script>

    <div id="heatpumps">
      <%- include heatpumps %>
    </div>
    
    <script>  
      
      $(document).ready(function() {
        
        setTimeout(function() {
           refresh_loop();
        }, 10000);
        
        $(".hp_power").click(function() {
          heatpump_div = $(this).parents(".heatpump")
          heatpump_id = heatpump_div.attr("id")
          current_power = heatpump_div.attr("data-power")
          console.log ("current power: " + current_power)
          new_power = (current_power == "ON") ? "OFF" : "ON"
          console.log ("new power: " + new_power)
          
          // First PUT the new state via the API, then reload
          $.ajax({
              url: "/api/heatpumps/" + heatpump_id,
              method: 'PUT',
              data: {"power": new_power},
              success: function(result) {
                  
                  // Then reload the data for that heatpump
                  console.log("Successful PUT")
                  reload_heatpump(heatpump_id)
              }
          });
        });
        
        $(".hp_mode").click(function() {
          heatpump_id = $(this).parents(".heatpump").attr("id")
          console.log(heatpump_id)
          $(this).hide();
          show_mode_selector(heatpump_id);
        });
      }); 
      
      function refresh_loop() {
        reload_data()
        
        setTimeout(function() {
           refresh_loop();
        }, 10000);
      }
      
      function reload_data() {
        $.getJSON("/api/heatpumps")
        .done(function( heatpumps) {
          $.each(heatpumps, function(index, heatpump) {
            update_heatpump_ui(heatpump)
          });
        })
        .fail(function() {
          console.log( "Error calling /api/heatpumps..." );
        })
      }
      
      function update_heatpump_ui(heatpump) {
        console.log("updating UI for heatpump: " + heatpump.name)
        heatpump_id = heatpump.id
        $("#" + heatpump_id).attr("data-power", heatpump.power)
        $("#" + heatpump_id).attr("data-mode", heatpump.mode)
        $("#" + heatpump_id + " .hp_room_temp").attr("data-room-temp", heatpump.room_temp)
        $("#" + heatpump_id + " .hp_target_temp").attr("data-target-temp", heatpump.target_temp)
      }
      
      function reload_heatpump(heatpump_id) {
        $.getJSON("/api/heatpumps/" + heatpump_id)
        .done(function( heatpump) {
          console.log(heatpump)
          update_heatpump_ui(heatpump)
        })
        .fail(function() {
          console.log( "Error calling /api/heatpumps..." );
        })
      }
      
      function show_mode_selector(heatpump_id) {
        html_to_add = ''
        $("#" + heatpump_id + ".mode_select").html(html_to_add)
      }
      
    </script>
    
  </body>
</html>