<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="apple-touch-icon" href="/images/thermostat-icon.png">
    <meta name="viewport" content="width=395">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script src="/javascripts/nouislider.js"></script>
    <link rel='stylesheet' href='/stylesheets/nouislider.css' />
    <script src="/javascripts/wNumb.js"></script>
    
    <script src="/javascripts/thermostat_ui.js"></script>
  </head>
  <body>

    <div id="heatpumps">
      <% heatpumps.forEach( function(heatpump) { %>
          <%- include heatpump %>
      <% }) %>
    </div>
        
  </body>
</html>