<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="apple-touch-icon" href="/images/thermostat-icon.png">
    <meta name="viewport" content="width=395">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>

    <script src="/javascripts/jquery-3.2.1.js"></script>

    <div id="heatpumps">
      <% heatpumps.forEach( function(heatpump) { %>
          <%- include heatpump %>
      <% }) %>
    </div>
    
    <script>  
      
      $(document).ready(function() {
        
        $(".mode_select").hide()
        
        setTimeout(function() {
           refresh_loop();
        }, 10000);
        
        // Click the power icon to toggle HeatPump power on/off
        $(".hp_power").click(function() {
          heatpump_div = $(this).parents(".heatpump")
          heatpump_id = heatpump_div.attr("id")
          current_power = heatpump_div.attr("data-power")
          console.log ("current power: " + current_power)
          new_power = (current_power == "ON") ? "OFF" : "ON"
          console.log ("new power: " + new_power)
          
          put_data_for_heatpump({"power": new_power}, heatpump_id)
        });
        
        // Click the mode icon to show the mode selector
        $(".hp_mode").click(function() {
          heatpump_id = $(this).parents(".heatpump").attr("id")
          $(this).hide();
          $("#" + heatpump_id + " .mode_select").fadeIn()
        });
        
        // Click a button in the mode selector to select a new mode
        $(".mode_button").click(function() {
          heatpump_div = $(this).parents(".heatpump")
          heatpump_id = heatpump_div.attr("id")
          
          $(this).parents(".mode_select").hide()
          $("#" + heatpump_id + " .hp_mode").fadeIn()
          
          // ...
          current_mode = heatpump_div.attr("data-mode")
          console.log ("current mode: " + current_mode)
          new_mode = $(this).attr("id")
          console.log ("new mode: " + new_mode)
          
          if (new_mode != current_mode) {
            put_data_for_heatpump({"mode": new_mode}, heatpump_id)
          }
        });
      }); 
      
      function refresh_loop() {
        reload_data()
        
        setTimeout(function() {
           refresh_loop();
        }, 10000);
      }
      
      function reload_data() {
        $.getJSON("/api/heatpumps")
        .done(function( heatpumps) {
          $.each(heatpumps, function(index, heatpump) {
            update_heatpump_ui(heatpump)
          });
        })
        .fail(function() {
          console.log( "Error calling /api/heatpumps..." );
        })
      }
      
      function update_heatpump_ui(heatpump) {
        console.log("updating UI for heatpump: " + heatpump.name)
        heatpump_id = heatpump.id
        $("#" + heatpump_id).attr("data-power", heatpump.power)
        $("#" + heatpump_id).attr("data-mode", heatpump.mode)
        $("#" + heatpump_id + " .hp_room_temp").attr("data-room-temp", heatpump.room_temp)
        $("#" + heatpump_id + " .hp_target_temp").attr("data-target-temp", heatpump.target_temp)
      }
      
      function reload_heatpump(heatpump_id) {
        $.getJSON("/api/heatpumps/" + heatpump_id)
        .done(function( heatpump) {
          console.log(heatpump)
          update_heatpump_ui(heatpump)
        })
        .fail(function() {
          console.log( "Error calling /api/heatpumps..." );
        })
      }
      
      function put_data_for_heatpump(data, heatpump_id) {
        // First PUT the new state via the API, then reload
        $.ajax({
            url: "/api/heatpumps/" + heatpump_id,
            method: 'PUT',
            data: data,
            success: function(result) {
                
                // Then reload the data for that heatpump
                console.log("Successful PUT")
                reload_heatpump(heatpump_id)
            }
        });

      }
      
    </script>
    
  </body>
</html>