<div class="mode_button">
  <img src="/images/auto_on.png" height="32" width="32">
  <span class="mode_button_label">Auto</span>
</div>
<div class="mode_button">
  <img src="/images/heat_on.png" height="32" width="32">
  <span class="mode_button_label">Heat</span>  
</div>
<div class="mode_button">
  <img src="/images/cool_on.png" height="32" width="32">
  <span class="mode_button_label">Cool</span>
</div>