<table class="mode_select">
  <tr>
    <td class="mode_button" id="AUTO">  
      <div class="mode_button_group">
        <div class="mode_button_icon"></div>
        <div class="mode_button_label"></div>
      </div>
    </td>
    <td class="mode_button" id="HEAT">
  	  <div class="mode_button_group">
  	    <div class="mode_button_icon"></div>
  	    <div class="mode_button_label"></div>
      </div>
    </td>
    <td class="mode_button" id="COOL">
  	  <div class="mode_button_group">
  	    <div class="mode_button_icon"></div>
  	    <div class="mode_button_label"></div>
      </div>
    </td>
  </tr>
</table>