body {
  font: 14px "Lato", sans-serif;
}

#heatpumps {
  width: 375px;
  margin: 10px auto;
}

.heatpump {
  position: relative;
  margin: 8px 0px; 
  padding: 5px 10px;
  overflow:auto;
  background-color: #fff;
  border: 1px solid gray;
}

.hp_name {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.hp_power {
  background-size: 42px 42px;
  width:42px;
  height:42px;
  margin-top:15px;
  margin-left:15px;
  margin-bottom:15px;
}

.heatpump[data-power="ON"] .hp_power {
  background-image: url('/images/power_icon_on.png');
}

.heatpump[data-power="OFF"] .hp_power {
  background-image: url('/images/power_icon_off.png');
}

.hp_room_temp[data-room-temp]:before {
  content: attr(data-room-temp);
}

.hp_room_temp {
  position:absolute;
  bottom: 18px;
  right: 15px;
  width: 80px;
  font-size: 50px;
  text-align:center;
}

.hp_room_temp_label {
  position:absolute;
  bottom: 5px;
  right: 0px;
  width: 80px;
}

.hp_room_temp:after {
  content: "\B0"
}

.hp_mode_label {
  position:absolute;
  right: 105px;
  bottom: 5px;
  width: 80px;
  text-align: center;
  text-transform: capitalize;
}

.heatpump[data-mode="AUTO"] .hp_mode_label:after {
  content: "Auto"
}

.heatpump[data-mode="HEAT"] .hp_mode_label:after {
  content: "Heat"
}

.heatpump[data-mode="COOL"] .hp_mode_label:after {
  content: "Cool"
}

.heatpump[data-power="OFF"] .hp_mode_label {
  color: #acb0a8;
}

.hp_mode_icon {
  position:absolute;
  right: 123px;
  bottom: 22px;
  background-size: 42px 42px;
  width:42px;
  height:42px;
}

.heatpump[data-mode="AUTO"][data-power="ON"] .hp_mode_icon {
  background-image: url('/images/auto_on.png');
}

.heatpump[data-mode="AUTO"][data-power="OFF"] .hp_mode_icon {
  background-image: url('/images/auto_off.png');
}

.heatpump[data-mode="HEAT"][data-power="ON"] .hp_mode_icon {
  background-image: url('/images/heat_on.png');
}

.heatpump[data-mode="HEAT"][data-power="OFF"] .hp_mode_icon {
  background-image: url('/images/heat_off.png');
}

.heatpump[data-mode="COOL"][data-power="ON"] .hp_mode_icon {
  background-image: url('/images/cool_on.png');
}

.heatpump[data-mode="COOL"][data-power="OFF"] .hp_mode_icon {
  background-image: url('/images/cool_off.png');
}

.hp_target_temp[data-target-temp]:before {
  content: attr(data-target-temp);
}

.hp_target_temp, .hp_new_target_temp {
  position:absolute;  
  bottom: 23px;
  left: 112px;
  width: 80px;
  font-size: 32px;
}

.hp_target_temp:after,
.hp_new_target_temp:after {
  content: "\B0"
}

.hp_target_temp_label {
  position:absolute;
  bottom: 5px;
  left: 90px;
  width: 80px;
  text-align: center;  
}

.hp_status {
  position:relative;
  border: solid white 1px;
}

.heatpump[data-power="OFF"] .hp_target {
  visibility: hidden;
}

table.mode_select {
  table-layout: fixed;
  margin-top: 5px;
  width: 100%;
  border: solid gray 1px;
  position:relative;
  background-color: #eee;
}

.mode_button { 
  width: 33%;
  border: solid gray 1px;
  padding: 5px 0px;
}

.heatpump[data-mode="AUTO"] .mode_button[id="AUTO"],
.heatpump[data-mode="HEAT"] .mode_button[id="HEAT"],
.heatpump[data-mode="COOL"] .mode_button[id="COOL"] { 
  background-color: #fff;
}

.mode_button_group {
  width: 80px;
  margin: 0px auto;
}

.mode_button_icon {
  float: left;
  background-size: 32px 32px;
  width:32px;
  height:32px;
}

.mode_button_label {
  font-size: 16px;
  position: relative;
  left: 7px;
  top: 7px;
}

.mode_button[id="AUTO"] .mode_button_icon {
  background-image: url('/images/auto_on.png');
}

.mode_button[id="HEAT"] .mode_button_icon {
  background-image: url('/images/heat_on.png');
}

.mode_button[id="COOL"] .mode_button_icon {
  background-image: url('/images/cool_on.png');
}

.mode_button[id="AUTO"] .mode_button_label:after {
  content: "Auto";
}

.mode_button[id="HEAT"] .mode_button_label:after {
  content: "Heat";
}

.mode_button[id="COOL"] .mode_button_label:after {
  content: "Cool";
}

.target_select {
  margin-top: 5px;
  width: 100%;
  border: solid gray 1px;
  position:relative;
  background-color: #eee;
}

.target_slider {
  margin-top: 15px;
  margin-bottom: 45px;
  margin-left: 20px;
  margin-right: 55px;
}

.target_select .target_ok {
  position: absolute;
  bottom:18px;
  right:8px;
}

/* .new_target_temp looks identical to the target temp but only displays */
/* when the target selector is shown and updates to show what the new target */
/* will be set when the "ok" button is pressed */
.hp_new_target_temp[data-new-target-temp]:before {
  content: attr(data-new-target-temp); 
}

.hp_new_target_temp {
  display: none;
}

.target_select .noUi-handle {
  border: 1px solid #888;
}

.target_select .noUi-target {
  border: 1px solid #888;
}

.target_select .noUi-handle:before,
.target_select .noUi-handle:after {
  background: #888;
}

.target_select .noUi-value {
  margin-top: 6px;
}
