body {
  font: 14px "Lato", sans-serif;
}

#heatpumps {
  width: 375px;
  margin: 10px auto;
/*   background-color: #eee;
  border: 1px solid gray; */
}

.heatpump {
  position: relative;
  margin: 8px 0px; 
  padding: 5px 10px;
  overflow:auto;
  background-color: #fff;
  border: 1px solid gray;
}

.hp_name {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.hp_power {
  float:left;
  padding-top:15px;
  padding-left:15px;
  padding-bottom:15px;
}

.hp_room_temp {
  position:absolute;
  bottom: 29px;
  right: 15px;
  width: 80px;
  font-size: 55px;
  text-align:center;
}

.hp_room_temp_label {
  position:absolute;
  bottom: 15px;
  right: 0px;
  width: 80px;
}

.hp_room_temp:after {
  content: "\B0"
}

.hp_mode_on {
  position:absolute;
  right: 115px;
  bottom: 15px;
  width: 80px;
  text-align: center;
  text-transform: capitalize;
}

.hp_mode_off {
  position:absolute;
  right: 115px;
  bottom: 15px;
  width: 80px;
  text-align: center;
  text-transform: capitalize;
  color: #acb0a8;
}

.hp_mode_icon {
  position:absolute;
  right: 115px;
  bottom: 30px;
  width: 80px;
  text-align: center;
  text-transform: capitalize;
  color: #acb0a8;
}

.hp_target_temp {
  position:absolute;  
  bottom: 30px;
  left: 112px;
  width: 80px;
  font-size: 32px;
}

.hp_target_temp:after {
  content: "\B0"
}

.hp_target_temp_label {
  position:absolute;
  bottom: 15px;
  left: 90px;
  width: 80px;
  text-align: center;  
}

