body {
  font: 14px "Lato", sans-serif;
}

#heatpumps {
  width: 375px;
  margin: 10px auto;
}

.heatpump {
  position: relative;
  margin: 8px 0px; 
  padding: 5px 10px;
  overflow:auto;
  background-color: #fff;
  border: 1px solid gray;
}

.hp_name {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.hp_power {
  background-size: 42px 42px;
  width:42px;
  height:42px;
  margin-top:15px;
  margin-left:15px;
  margin-bottom:15px;
}

.heatpump[data-power="ON"] .hp_power {
  background-image: url('/images/power_icon_on.png');
}

.heatpump[data-power="OFF"] .hp_power {
  background-image: url('/images/power_icon_off.png');
}

.hp_room_temp[data-room-temp]:before {
  content: attr(data-room-temp);
}

.hp_room_temp {
  position:absolute;
  bottom: 18px;
  right: 15px;
  width: 80px;
  font-size: 50px;
  text-align:center;
}

.hp_room_temp_label {
  position:absolute;
  bottom: 5px;
  right: 0px;
  width: 80px;
}

.hp_room_temp:after {
  content: "\B0"
}

.hp_mode_label {
  position:absolute;
  right: 105px;
  bottom: 5px;
  width: 80px;
  text-align: center;
  text-transform: capitalize;
}

.heatpump[data-mode="AUTO"] .hp_mode_label:after {
  content: "Auto"
}

.heatpump[data-mode="HEAT"] .hp_mode_label:after {
  content: "Heat"
}

.heatpump[data-mode="COOL"] .hp_mode_label:after {
  content: "Cool"
}

.heatpump[data-power="OFF"] .hp_mode_label {
  color: #acb0a8;
}

.hp_mode_icon {
  position:absolute;
  right: 123px;
  bottom: 22px;
  background-size: 42px 42px;
  width:42px;
  height:42px;
}

.heatpump[data-mode="AUTO"][data-power="ON"] .hp_mode_icon {
  background-image: url('/images/auto_on.png');
}

.heatpump[data-mode="AUTO"][data-power="OFF"] .hp_mode_icon {
  background-image: url('/images/auto_off.png');
}

.heatpump[data-mode="HEAT"][data-power="ON"] .hp_mode_icon {
  background-image: url('/images/heat_on.png');
}

.heatpump[data-mode="HEAT"][data-power="OFF"] .hp_mode_icon {
  background-image: url('/images/heat_off.png');
}

.heatpump[data-mode="COOL"][data-power="ON"] .hp_mode_icon {
  background-image: url('/images/cool_on.png');
}

.heatpump[data-mode="COOL"][data-power="OFF"] .hp_mode_icon {
  background-image: url('/images/cool_off.png');
}

.hp_target_temp[data-target-temp]:before {
  content: attr(data-target-temp);
}

.hp_target_temp {
  position:absolute;  
  bottom: 23px;
  left: 112px;
  width: 80px;
  font-size: 32px;
}

.hp_target_temp:after {
  content: "\B0"
}

.hp_target_temp_label {
  position:absolute;
  bottom: 5px;
  left: 90px;
  width: 80px;
  text-align: center;  
}

.hp_status {
  position:relative;
  border: solid white 1px;
}

.heatpump[data-power="OFF"] .hp_target {
  visibility: hidden;
}

.mode_select {
  display: none;
  margin-top: 5px;
  width: 100%;
  border: solid gray 1px;
  position:relative;
  background-color: #eee;
}

.mode_button {
  display: table-cell;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.mode_button_selected {
  display: table-cell;
  text-align: center;
  padding: 10px 0px;
  background-color: #ddd;
}

.mode_button_label {
  font-size: 16px;
  vertical-align:middle;
  position:relative;
  padding-left:5px;
  bottom: 10px;
}
